// Import partial files
@import './reset';
@import './variables';



// Maps
$font-weights: (

    "regular": 400,
    "medium": 500,
    "bold": 700
);


// Functions
@function weight ($weight-name) {

    @return map-get($font-weights, $weight-name);
}


// Mixins
// @mixin flexCenter {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// Mixins with arguments
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

// For theme change
@mixin theme($light-theme: true) {
    @if $light-theme {
        background-color: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}

body {

    background: $primary-color;
    color: $text-color;
    // pick map
    font-weight: map-get($font-weights, regular );
}

// Nesting
.main {

    // Use Mixins
    // @include flexCenter;

    // Use Mixins with arguments
    @include flexCenter(row);

    width: 90%;
    margin: auto;
    
    // Normal Nesting
    &-paragraph1 {

        text-align: justify;
        font-weight: map-get($font-weights, medium);
    }

    // Interpolation Nesting (This means, we don't want '.main-pargraph' but we want '.main .main-paragraph' in styles.css file)
    #{&}-paragraph1 {

        text-align: justify;
        font-weight: map-get($font-weights, medium);

        &:hover {

            color: blue;
        }

        // Use Function
        font-weight: weight(bold);
    }

    // Use mixin with media query 
    @include mobile{
        flex-direction: column;
    }

}

.light {

    @include theme($light-theme: true);
}